@font-face {
  font-family: 'computermodern';
  src: url('../fonts/computermodern/cmunss.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'computermodern', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

/* Main Content Styles */
main {
  flex: 1;
  background-color: #5885AF;
}

/* Header styles */
#header {
  background-color: #274472;
  margin: 0px;
  text-align: center;
}

.header-nav-icon {
  width: 35%;
  height: 70%;
  text-align: center;
}

/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sitemap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.column {
  flex: 1;
}

.social-icons {
  display: inline-block;
}

.social-icons img {
  width: 20%;
  height: auto;
  margin: 0px 7px 0px 7px;
}

.footer-location-image {
  max-width: 80%;
  height: 60%;
}

#header nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#header a {
  display: grid;
  justify-items: center;
  align-items: center;
  color: #C3E0E5;
  border: double 4px #333;
}

#header .logo img {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

#about-me-title {
  display: grid;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#about-me-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-sizing: border-box;

}

#about-me-card-one {
  grid-row: 1;
  grid-column: 1;
  padding: 20px;
  margin: 5px;
  border: 1px white solid;
  box-sizing: border-box;

}

#about-me-card-two {
  grid-row: 1;
  grid-column: 2;
  align-content: center;
  justify-self: center;
  margin: 5px;
  box-sizing: border-box;

}

#about-me-card-two img {
  box-sizing: border-box;
  width: auto;
  max-height: 400px;
  border: 1px white solid;
}

#about-me-card-three {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  margin: 10px;
  align-content: center;
  justify-self: center;
  border: 1px white solid;
  box-sizing: border-box;

}

#about-me-card-four {
  grid-row: 3;
  grid-column: 1;
  padding: 20px;
  margin: 5px;
  align-content: center;
  justify-self: center;
  border: 1px white solid;
  box-sizing: border-box;

}

#about-me-card-five {
  grid-row: 3;
  grid-column: 2;
  padding: 20px;
  margin: 5px;
  align-content: center;
  justify-self: center;
  border: 1px white solid;
  box-sizing: border-box;

}