@font-face {
  font-family: 'computermodern';
  src: url('../fonts/computermodern/cmunss.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'computermodern', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

/* Main Content Styles */
main {
  flex: 1;
  background-color: #5885AF;
}

.card {
  box-sizing: border-box;
  border: 1px #fff solid;
  padding: 20px;
  margin: 5px;
  background-color: #274472;
  color: #fff;
}

/* Responsive Design Styles */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  display: grid;
  gap: 10px;
}

/* X-Small */
@media screen and (max-width:475px) {
  .container {
    max-width: 100%;
  }
}

/* Small  */
@media screen and (max-width:640px) {
  .container {
    max-width: 475px;
  }
}

/* Medium  */
@media screen and (max-width:768px) {
  .container {
    max-width: 640px;
  }
}

/* Large  */
@media screen and (max-width:1024px) {
  .container {
    max-width: 768px;
  }
}

/* X-Large  */
@media screen and (max-width:1280px) {
  .container {
    max-width: 1024px;
  }
}




/* Header styles */
#header {
  background-color: #274472;
  margin: 0px;
  text-align: center;
}

.header-nav-icon {
  width: 70px;
  height: 70px;
  text-align: center;
}

#header nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#header a {
  display: grid;
  justify-items: center;
  align-items: center;
  color: #fff;
  border: double 4px #333;
}

#header .logo img {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

#about-nav {}

/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sitemap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.column {
  flex: 1;
}

.social-icons {
  display: inline-block;
}

.social-icons img {
  width: 20%;
  height: auto;
  margin: 0px 7px 0px 7px;
}

.footer-location-image {
  max-width: 80%;
  height: 60%;
}


#about-me-title h1 {
  background-color: #fff;
  border: 20px #274472 double;
  margin: 5px;
}

#about-me-title {
  display: grid;
  font-size: 3rem;
  color: #274472;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.container img,
.card img {
  max-width: 100%;
  height: auto;
  border: 1px #fff solid;
}

/* Image only grid cells */
#about-me-card-two,
#about-me-card-four,
#about-me-card-six {
  align-content: center;
  justify-self: center;
  margin: 5px;
}

/* Text cards */
#about-me-card-one,
#about-me-card-three,
#about-me-card-five {
  color: #fff;
  background-color: #274472;
  align-content: center;
  justify-self: center;
  margin: 5px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #about-me-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  #about-me-card-one {
    grid-column: 1;
    grid-row: 1;
  }

  #about-me-card-two {
    grid-column: 2;
    grid-row: 1;

  }

  #about-me-card-three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }

  #about-me-card-four {
    grid-column: 1;
    grid-row: 3;
  }

  #about-me-card-five {
    grid-column: 2;
    grid-row: 3;
  }

  #about-me-card-six {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
  }
}

@media (max-width: 767px) {
  #about-me-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
}

#embeded-video {
  padding: 20px;
  margin: 20px 0px;
}

iframe {
  width: 100%;
  height: 450px;
  border: 1px #fff solid;
}