@font-face {
  font-family: 'computermodern';
  src: url('../fonts/computermodern/cmunss.ttf') format('truetype');
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'computermodern', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

/* Main Content Styles */
main {
  flex: 1;
  background-color: #5885AF;
}

/* Header styles */
#header {
  background-color: #274472;
  margin: 0px;
  text-align: center;
}

.header-nav-icon {
  width: 35%;
  height: 70%;
  text-align: center;
}

/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sitemap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.column {
  flex: 1;
}

.social-icons {
  display: inline-block;
}

.social-icons img {
  width: 20%;
  height: auto;
  margin: 0px 7px 0px 7px;
}

.footer-location-image {
  max-width: 80%;
  height: 60%;
}

#header nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#header a {
  display: grid;
  justify-items: center;
  align-items: center;
  color: #C3E0E5;
  border: double 4px #333;
}

#header .logo img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#olivias-story-title {
  display: grid;
  justify-content: start;
  align-content: end;
  font-size: 2.5rem;
  color: #274472;
  margin-top: 0px;
  padding-top: 0px;
}

#olivias-story-card-container {
  display: grid;
  grid-template-rows: repeat(3, 2fr);
}

.olivias-story-card {
  box-sizing: content-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.olivias-story-card p {
  padding: 10px;
  font-weight: 550;
}

#wide-p-tag {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.olivias-story-card img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 3px ridge white;
  border-radius: 100%;
  overflow: hidden;
}

#card-three img {
  box-sizing: border-box;
  align-self: start;
}

@media screen and (max-width: 767px) {
  #olivias-story {
    grid-template-rows: 1fr;
  }
}