h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'computermodern', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}



@font-face {
  font-family: 'computermodern';
  src: url('../fonts/computermodern/cmunss.ttf') format('truetype');
}

/* Header styles */
#header {
  background-color: #274472;
  margin: 0px;
  text-align: center;
}

nav a:hover {
  background-color: whitesmoke transparent 20%;
}

.header-nav-icon {
  width: 35%;
  height: auto;
}

/* Main Content styles */
main {
  flex: 1;
  background-color: #5885AF;
}

.welcome {
  list-style-type: none;
  font-size: 20vw;
  display: grid;
  color: #274472;
  justify-items: center;
}

.welcometextslogan p {
  display: grid;
  justify-items: start;
  font-size: 5vw;
  color: #C3E0E5;
}

#smarterchoice {
  justify-items: end;
}

/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  /* Push the footer to the bottom */
}

.sitemap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: column-reverse;
}

.column {
  flex: 1;
  margin: 10px;
}

.sitemap a {
  color: #2601f5;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.footer-location-image {
  width: 80%;
  height: 80%;
}




@media screen and (max-width: 767px) {
  .social-icons img {
    max-width: 100%;
    height: 100%;
  }

  #header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #header ul {
    text-align: center;
    margin-top: 0px;
  }

  #header ul li {
    display: block;
    margin: 0;
  }

  #header a {
    display: block;
    color: #fff;
    padding: 0px;
    text-decoration: none;
    border-radius: 5px;
  }

  #header {
    color: #333;
  }

  #header .logo img {
    width: 100%;
    height: 100%;
  }

  .our-mission-card {
    border: solid 2px #274472;
    background-color: #274472;
    font-weight: 500;
  }

  .our-mission-card p {
    font-size: 1.5rem;
    text-align: end;
    color: #5885af;
  }

  #our-mission-header {
    display: grid;
    justify-content: end;
    color: #5885af;
  }


}