@font-face {
  font-family: 'computermodern';
  src: url('../fonts/computermodern/cmunss.ttf') format('truetype');
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'computermodern', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}


/* Header styles */
#header {
  background-color: #274472;
  margin: 0px;
  text-align: center;
}

.header-nav-icon {
  width: 35%;
  height: 70%;
  text-align: center;
}


/* Main Content Styles */
main {
  flex: 1;
  background-color: #5885AF;
}

/* Welcome/Slogan Card Styles */
#welcome-card {
  display: grid;
  justify-items: start;
  font-size: 5vw;
  color: #C3E0E5;
  padding: 0px;
}

#welcome-text {
  display: grid;
  justify-self: center;
  font-size: 6rem;
  color: #274472;
}

#smarterchoice {
  justify-self: end;
}

/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sitemap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.column {
  flex: 1;
}

.social-icons {
  display: inline-block;
}

.social-icons img {
  width: 20%;
  height: auto;
  margin: 0px 7px 0px 7px;
}

.footer-location-image {
  max-width: 80%;
  height: 60%;
}



/* Responsive Layout for Medium Screens (Tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
  .product-highlights-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive layout for smaller screens (mobile) */
@media (max-width: 767px) {
  #product-highlights {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }

  .product-highlights-card-image {
    max-width: 100%;
    height: 100%;
  }

  .product-highlights-card h2 {
    font-size: 1.2rem;
  }

  .product-highlights-card li {
    font-size: 1rem;
  }

  .product-highlights-card {
    display: grid;
    border: solid 2px black;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    object-fit: fill;
    font-weight: 500;
    background-color: #C3E0E5;
    justify-items: center;
  }

  .product-highlights-card-button {
    font-size: 1rem;
    justify-self: center;
    margin: 0px;
  }

  #product-highlights-title {
    display: grid;
    justify-content: center;
    font-size: 3rem;
    color: #274472;
    margin: 20px;
    border: dotted 2px #C3E0E5;
    border-radius: 25px;
  }

  .product-highlights-card u {
    font-size: 1rem;
  }

  .product-highlights-card a {
    font-size: 1rem;
  }

  #follow-us {
    display: grid;
    justify-content: center;
    color: #2601f5;
    font-size: 1rem;
  }

  .social-icons img {
    max-width: 100%;
    height: 100%;
  }

  #header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #header a {
    display: grid;
    justify-items: center;
    align-items: center;
    color: #C3E0E5;
    border: double 4px #333;
  }

  #header .logo img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  #our-mission-card {
    border: solid 2px #274472;
    background-color: #274472;
    font-weight: 500;
    padding: 20px;
  }

  #our-mission-card p {
    font-size: 1.5rem;
    text-align: end;
    color: #5885af;
  }

  #our-mission-header {
    display: grid;
    justify-content: end;
    color: #5885af;
  }

  #our-mission-card img {
    width: 100%;
    height: auto;
  }

  #our-values-card {
    font-size: 1.5rem;
    text-align: start;
    color: #274472;
    padding: 20px;
    font-weight: 900;
    border: #5885af 2px solid;
  }

  #our-values-card img {
    width: 100%;
    height: auto;
  }
}