/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #666;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
@font-face {
  font-family: 'computermodern'; 
  src: url('fonts/cmun-sans.css') format('truetype');
}

body {
  font-family: 'computermodern', sans-serif;
}
