/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'computermodern', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: 'computermodern'; 
  src: url('../fonts/computermodern/cmunss.ttf') format('truetype');
}

/* Header styles */
#main-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#main-header .logo img {
  max-width: 100%;
  height: auto;
}

#main-header nav {
  margin-top: 10px;
}

#main-header ul {
  list-style-type: none;
}

#main-header ul li {
  display: inline-block;
  margin-right: 20px;
}

#main-header a {
  text-decoration: none;
  color: #fff;
}

/* Main Content styles */
main {
  flex: 1; /* Make the main section grow to fill the available space */
  padding: 20px;
}

/* Footer styles */
#main-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}

.sitemap {
  display: flex;
  justify-content: space-around;
}

.column {
  flex: 1;
  margin: 10px;
}

.sitemap a {
  color: #2601f5; /* Set link color to white */
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 600px) {
  .social-icons img {
    max-width: 60px;
    min-width: 60px;
  }
}

.email-signup {
  margin-top: 20px;
}

.email-signup form {
  display: flex;
  flex-direction: column;
}

.email-signup input {
  margin-bottom: 10px;
}

.email-signup input[type="submit"] {
  cursor: not-allowed;
}

.fake-message {
  font-style: italic;
  color: #555;
  font-size: 12px;
}

/* Add the following styles for mobile responsiveness */
@media screen and (max-width: 600px) {
  #main-header nav {
    display: none; /* Hide navigation links by default on small screens */
  }

  #main-header ul {
    text-align: center;
    margin-top: 10px;
  }

  #main-header ul li {
    display: block;
    margin: 10px 0;
  }

  #main-header a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
  }

  #main-header a:hover {
    background-color: #555;
  }
}

.companynamewelcome {
  display: grid;
  background-color: ;
}
